:root { 
--gray_50_01:#f2f8ff; 
--blue_A400:#1877f2; 
--indigo_A200:#5b4fe9; 
--deep_purple_700:#5821b6; 
--gray_50:#fafafa; 
--deep_purple_300_1e:#9d76ed1e; 
--pink_400_01:#f75274; 
--green_A700:#25d366; 
--black_900:#000000; 
--gray_500_01:#91979e; 
--deep_orange_300:#eb996e; 
--blue_gray_700:#42526d; 
--deep_orange_200:#ffbe9d; 
--blue_gray_900_01:#303437; 
--gray_500_02:#979c9e; 
--deep_purple_A200:#7c3aed; 
--blue_gray_900:#263238; 
--purple_800:#693183; 
--gray_900_0f:#1212120f; 
--red_A700:#d90026; 
--pink_400:#d53692; 
--deep_purple_A200_01:#7b68ee; 
--purple_400:#8f39ce; 
--gray_600:#72777a; 
--gray_900_02:#212121; 
--gray_500:#999999; 
--deep_orange_300_01:#ff725e; 
--gray_800:#4d4d4d; 
--blue_500:#1da1f2; 
--gray_900:#121212; 
--blue_gray_500:#6b788e; 
--gray_900_01:#202325; 
--deep_purple_700_33:#5821b633; 
--black_900_0f:#0000000f; 
--amber_200:#fbe18a; 
--black_900_0c:#0000000c; 
--gray_300:#e0e0e0; 
--orange_300:#fcbb45; 
--gray_300_01:#e3e4e5; 
--gray_100:#f7f6f9; 
--gray_100_03:#f2f3f4; 
--gray_100_02:#f1effd; 
--gray_100_01:#f4f6f8; 
--white_A700:#ffffff; 
--blue_gray_700_01:#455a64; 
--indigo_800:#323282; 
--blue_gray_700_bf:#42526dbf; 
--deep_purple_A200_33:#7c3aed33; 
}